body { 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main { 
    flex: 1; 
}

article {
    width: 350px;
}

input {
    background-color: var(--card-background-color);
}

.bottom { 
    padding: 0;
    margin-top: auto;
}

.bottom h6 { 
    margin: 0 20px;
    color: var(--muted-color);
}

.attachment-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.warning {
    border-left: #fb8c00 6px solid;
    width: 500px;
    transform: translate(-100%, 0) !important;
    position: absolute;
    top: 0;
    left: 100%;
}

.warning h4 {
    margin: 0;
}

.msg-info, .warning {
    display: none;
}

.upload {
    border-radius: var(--border-radius);
    border: var(--form-element-border-color) dashed 2px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.upload input {
   margin-bottom: 20px;
   margin-top: 20px;
}